In [19]:
import pandas as pd
import json
import copy

In [6]:
df = pd.read_csv('Prototype content.csv', encoding='ISO-8859-1')

df

,YEAR,TERM,TEACHER ID,TEACHER NAME,CLASS,STUDENT NAME,STUDENT ID,DOB,DOMAIN,SUB CATEGORY,SKILL,SCORE,COMMENT
0,2022,1,T001,MRS LINDA TAN,K2,RACHEL LEE,S0001,15-Jun-16,AESTHETIC AND CREATIVE EXPRESSION,"Music and Movement, Art and Craft, Dramatic Play",Enjoys singing,4,NaN
1,2022,1,T001,MRS LINDA TAN,K2,RACHEL LEE,S0001,15-Jun-16,AESTHETIC AND CREATIVE EXPRESSION,"Music and Movement, Art and Craft, Dramatic Play",Sings simple songs to pitch,4,NaN
2,2022,1,T001,MRS LINDA TAN,K2,RACHEL LEE,S0001,15-Jun-16,AESTHETIC AND CREATIVE EXPRESSION,"Music and Movement, Art and Craft, Dramatic Play",Responds rhythmically to music,4,NaN
3,2022,1,T001,MRS LINDA TAN,K2,RACHEL LEE,S0001,15-Jun-16,AESTHETIC AND CREATIVE EXPRESSION,"Music and Movement, Art and Craft, Dramatic Play",Participates keenly in musical activities,4,NaN
4,2022,1,T001,MRS LINDA TAN,K2,RACHEL LEE,S0001,15-Jun-16,AESTHETIC AND CREATIVE EXPRESSION,"Music and Movement, Art and Craft, Dramatic Play",Enjoys painting,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1739,2019,2,T004,MS KELLY ONG,N1,JAYDEN LIM,S0002,29-Nov-16,SOCIAL AND EMOTIONAL DEVELOPMENT,Self-Help Skills,Feeds self independently,4,NaN
1740,2019,2,T004,MS KELLY ONG,N1,JAYDEN LIM,S0002,29-Nov-16,SOCIAL AND EMOTIONAL DEVELOPMENT,Self-Help Skills,Dresses and undresses self independently,4,NaN
1741,2019,2,T004,MS KELLY ONG,N1,JAYDEN LIM,S0002,29-Nov-16,SOCIAL AND EMOTIONAL DEVELOPMENT,Self-Help Skills,Commendable Areas observed:,0,Jayden has increased in her confidence in read...
1742,2019,2,T004,MS KELLY ONG,N1,JAYDEN LIM,S0002,29-Nov-16,SOCIAL AND EMOTIONAL DEVELOPMENT,Self-Help Skills,Areas of potential in this category,0,Jayden loves to create. If she creates her ow...
1743,2019,2,T004,MS KELLY ONG,N1,JAYDEN LIM,S0002,29-Nov-16,SOCIAL AND EMOTIONAL DEVELOPMENT,Self-Help Skills,Suggested areas for parents to positively enco...,0,1. To read books aloud to siblings to boost he...

In [7]:
questions = df.loc[df['STUDENT ID'] == 'S0001'][['DOMAIN', 'SUB CATEGORY', 'SKILL']]
questions.drop_duplicates(subset=['SKILL'], inplace=True)
questions

,DOMAIN,SUB CATEGORY,SKILL
0,AESTHETIC AND CREATIVE EXPRESSION,"Music and Movement, Art and Craft, Dramatic Play",Enjoys singing
1,AESTHETIC AND CREATIVE EXPRESSION,"Music and Movement, Art and Craft, Dramatic Play",Sings simple songs to pitch
2,AESTHETIC AND CREATIVE EXPRESSION,"Music and Movement, Art and Craft, Dramatic Play",Responds rhythmically to music
3,AESTHETIC AND CREATIVE EXPRESSION,"Music and Movement, Art and Craft, Dramatic Play",Participates keenly in musical activities
4,AESTHETIC AND CREATIVE EXPRESSION,"Music and Movement, Art and Craft, Dramatic Play",Enjoys painting
...,...,...,...
837,SOCIAL AND EMOTIONAL DEVELOPMENT,Self-Help Skills,Returns objects to their original place after use
838,SOCIAL AND EMOTIONAL DEVELOPMENT,Self-Help Skills,Carries out proper toileting habits (eg. flush...
839,SOCIAL AND EMOTIONAL DEVELOPMENT,Self-Help Skills,Wears footwear independently
840,SOCIAL AND EMOTIONAL DEVELOPMENT,Self-Help Skills,Feeds self independently
841,SOCIAL AND EMOTIONAL DEVELOPMENT,Self-Help Skills,Dresses and undresses self independently

In [20]:
output = {}

free_text_questions = [
  {
      'question': 'Commendable Areas',
      'type': 'text_area',
      'response': None
  },
]

for idx, row in questions.iterrows():
  if not output.get(row['DOMAIN']):
    output[row['DOMAIN']] = {}
  if not output[row['DOMAIN']].get(row['SUB CATEGORY']):
    output[row['DOMAIN']][row['SUB CATEGORY']] = copy.copy(free_text_questions)
  output[row['DOMAIN']][row['SUB CATEGORY']].insert(0, {'question': row['SKILL'], 'response': None})


json.dump(output, open('updatedQuestions.json', 'w'), indent=4)